<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="net.loxal.poc.booking" level="DEBUG"/>
</configuration>